{
    "env": {
        "node": true,
        "es6": true
    },
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module"
    },
    "rules": {
        "arrow-parens": 0,
        "arrow-body-style": 0,
        "prefer-const": 0,
        "func-names": 0,
        "no-else-return": 0,
        "object-curly-newline": 0,
        "prefer-template": 0,
        "no-shadow": 0,
        "no-plusplus": 0,
        "function-paren-newline": 0,
        "array-bracket-spacing": 0,
        "implicit-arrow-linebreak": 0,
        "guard-for-in": 0,
        "object-shorthand": 0,
        "no-nested-ternary": 0,
        "dot-notation": 0,
        "no-param-reassign": 0,
        "indent": ["error", 2],
        "semi": [2, "never"]
    }
}